body{
    background: white;
    height: 100px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}

#mapList{
    height:500px;
}

#map{
    height:100%;
}

.show-grid{
    margin: 10px 0;
}

.item {
    margin: 5px 0;
}